{% extends 'base.html.twig' %}

{% block seo %}
    {{ parent() }}
    <meta name="description" content="{{ title }}" />
    <meta property="og:description" content="{{ title }}" />
    <link rel="canonical" href="{{ url('index') }}" />
    <meta property="og:url" content="{{ url('index') }}" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        body {
            text-align:center;
            padding-top:40px
        }
        p.msg {
            font-family:Verdana;
            font-size:40px;
            padding-bottom:40px
        }
    </style>
{% endblock %}

{% block body %}
    <p class="msg">{{ title }}</p>
    <p class="msg">{{ subtitle }}</p>
    {% if now < start %}
        {% set diff = now.diff(start) %}
        {% macro getDirtyFrenchPlurial(count, singular, plural) %}
            {{ count > 1 ? plural : singular }}
        {% endmacro %}
        <div class="counter">
            Temps restant avant la classe verte:
            <span class="part days">
                <span class="number">{{ diff.days }}</span>
                <span class="unit">{{ _self.getDirtyFrenchPlurial(diff.days, 'jour', 'jours') }}</span>,
            </span>
            <span class="part hours">
                <span class="number">{{ diff.h }}</span>
                <span class="unit">{{ _self.getDirtyFrenchPlurial(diff.h, 'heure', 'heures') }}</span>,
            </span>
            <span class="part minutes">
                <span class="number">{{ diff.i }}</span>
                <span class="unit">{{ _self.getDirtyFrenchPlurial(diff.i, 'minute', 'minutes') }}</span>
                et
            </span>
            <span class="part seconds">
                <span class="number">{{ diff.s }}</span>
                <span class="unit">{{ _self.getDirtyFrenchPlurial(diff.s, 'seconde', 'secondes') }}</span>
            </span>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if now < start %}
        <script nonce="bGUgZ3JhcyBjJ2VzdCBsYSB2aWU=" async>
            (async () => {
                var dn = document.querySelector('.counter .days .number');
                var du = document.querySelector('.counter .days .unit');
                var hn = document.querySelector('.counter .hours .number');
                var hu = document.querySelector('.counter .hours .unit');
                var mn = document.querySelector('.counter .minutes .number');
                var mu = document.querySelector('.counter .minutes .unit');
                var sn = document.querySelector('.counter .seconds .number');
                var su = document.querySelector('.counter .seconds .unit');

                var a = function(c, s, p) {return c >= 1 ? p : s;};
                var b = function() {
                    var t = {{ start.timestamp }} - new Date().getTime()/1000;
                    var d = Math.floor( t/(60*60*24) );
                    var h = Math.floor( (t/(60*60)) % 24 );
                    var m = Math.floor( (t/60) % 60 );
                    var s = Math.floor( (t) % 60 );

                    dn.innerHTML = d;
                    du.innerHTML = a(d, 'jour', 'jours');
                    hn.innerHTML = h;
                    hu.innerHTML = a(h, 'heure', 'heures');
                    mn.innerHTML = m;
                    mu.innerHTML = a(m, 'minute', 'minutes');
                    sn.innerHTML = s;
                    su.innerHTML = a(s, 'seconde', 'secondes');
                };
                window.setInterval(b, 1000);
                b();
            })();

            if ('serviceWorker' in window.navigator) {
              window.addEventListener('load', function () {
                navigator.serviceWorker.register('/service-worker.js');
              });
            }
        </script>
    {% endif %}
{% endblock %}
